// style for interface from krisrak


	body {
                margin:0px;
                width:100%;
                height:100%;
                overflow:hidden;
        	/* prevent text selection on ui */
        	user-select: none;
        	-webkit-user-select: none;
        	-moz-user-select: none;
        	-ms-user-select: none;
        	/* prevent scrolling in windows phone */
        	-ms-touch-action: none;
          }

	#aboutContent {
  	//	float: left;
  	//	width: 70%;
		//margin-top: 5px;
	}
	#closeAbout {
	//	margin-left: 20%;
	}


          #content {
	          overflow:hidden;
//                  background-color:#ddd;
background-color: white;
          }
          #canvas{
              //  cursor:crosshair ;
        	background-color:#fff;

          }
	  #aboutButtonContent {
                background-color:white;
          	overflow:hidden;
		padding-left: 10px;
		padding-right: 10px;
		font-weight: normal;	
	  }
	  #newButtonContent {
		background-color:white;
                overflow:hidden;
                padding-left: 10px;
                padding-right: 10px;
                font-weight: normal;

	  }
	  #palette-case-0 {
		display: none;
		float: left;
		width: 70px;
		//padding-top: 5px;
  	  }
          #palette-case-1 {
                margin:auto;
                text-align:center;
                width: 522px; //width:328px;
          }
          #palette-case-2 {
                display: none;
                margin:auto;
                text-align:center;
                width: 260px; //width:328px;
          }

          .palette-box-0 {
                float:left;
		margin-top: -6px;
                padding:0px 4px 0px 4px;
          }

          .palette-box {
                float:left;
                padding:1px 1px 1px 4px;
          }

	  .palette {
		border-radius: 5px;
          }
	  .palette-item {
		  border-radius: 5px;
		padding: 3px 1px 0px 1px;
	  }


          .palette-text {
                color: white;
                margin-top: 8px;
                font-size: 14px;
                text-shadow: 0px 0px black;
          }

	  .img-big {
		width:200px;
		height:50px;
	  }
	  .img-small {
		width: 50px;
		height: 50px;
	  }

          #drag-zero, #drag-one, #drag-two {
                background-color: #d4aaaa; //#994c00; //#999900;
                border:2px solid black; //#777;
          }
          #draw-zero, #draw-one, #draw-two {
                background-color: #d4bfaa;
                border:2px solid #fff;
          }

	  #toggle-zero, #toggle-one, #toggle-two {
                border:2px solid #fff;
		background-color:  #d4d4aa;
          }
          #glue-zero, #glue-one, #glue-two {
                border:2px solid #fff;
                background-color: #aad4aa;
          }
          #cut-zero, #cut-one, #cut-two {
                border:2px solid #fff;
                background-color: #aad4c9;
          }
          #erase-zero, #erase-one, #erase-two {
                border:2px solid #fff;
                background-color: #aac9d4;
          }
          #scale-zero, #scale-one, #scale-two {
                background-color: #d4aad4;
                border:2px solid #fff;
          }
          #rotate-zero, #rotate-one, #rotate-two {
                background-color: #b4aad4;
                border:2px solid #fff;
          }

@media only screen and (min-height: 605px) {
        #palette-case-0 {
                display: block;
        }
        #palette-case-1 {
                display: none;
        }
        #palette-case-2 {
                display: none;
        } 
}

@media only screen and (max-width: 545px) {
        #palette-case-0 {
                display: none;
        }
	#palette-case-1 {
		display: none;
	}
	#palette-case-2 {
		display: block;
	}

}


